<style>
  body {
          margin: 0px;
          border-radius: 0px;
          padding:0px;
      }
  .card2{
    background-color: gray;
    border-radius: 1.5rem;
    width: 30%;
    height: 30%;

  }
  .customer{
    font-size: 1rem;
    margin: 1rem;
  }
  .sub
  {
    width: 15%;
    height: 25%;
    transform:translatex(.1rem);
    transform: translatey(0.05vh);
  }
  .alert {
  padding: 20px;
  background-color: #f44336; /* Red */
  color: white;
  margin-bottom: 15px;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}
</style>

{%if messages %}
    {% for message in messages %}
    <div class="alert">
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
      {{ message }}
    </div>
    {% endfor %}
{% endif %}
{% block content %}

{%endblock%}